
html { 
    height: 100%; 
}

body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: #84a9ac;
    background-image: url("https://i.pinimg.com/originals/9a/3f/de/9a3fdef7feb2461afe2f4bf76631d643.jpg");
    background-attachment: fixed;
    background-size: 100%;
}

html, body { 
    /* height: 100%;  */
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
